<%- layout('layout/main.ejs') %>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h3>Registro</h3>
            </div>
            <div class="card-body">
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Ingresar email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Ingresar contraseña">
                    </div>
                    
                    <button class="btn btn-primary btn-block mt-4" type="submit">
                        Registrarse
                    </button>
            </div>
        </div>
    </form>
    </div>
</div>